body {
    background-color: #2d4fd855;
    text-align: center;
    color: white;
    font-family: 'Courgette', cursive;
    padding: 300px;
}

.webName{
    font-size: 100px;
    text-align: center;
    margin: auto;
}

.form{
    background-color: #2d4fd855;
    color: white;
    font-family: 'Courgette', cursive;
}



::placeholder{
    color: #2d4fd855;
    font-family: 'Courgette', cursive
}

input{
    font-family: 'Courgette', cursive;
    color: #2d4fd855
}



